* {
  margin: 0;
  padding: 0;
}

canvas {
  height: 100%;
  position: fixed;
  width: 100%;
}

.button {
  width: 100%;
  position: relative;
  display: block;
  color: #ff7675;
  font-size: 14px;
  font-family: 'montserrat';
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #ff7675;
  border-radius: 5px;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
